/*--------------------------------------------------------------

Template:  Mania - Fashion eCommerce HTML Template 

---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/
.static-block-2 .text .link {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid red;
  color: red;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-top: 30px;
  padding: 10px 33px;
  text-transform: uppercase;
}