/*-----------------------------------------------------------------------------------

    Project: Mania - Fashion eCommerce HTML Template
    Description: This is html5 template
    Author: HasTech
    Version: 1.0
	
----------------------------------------------------------------------------------- */

/* Banner Css */
.banner-style{}
.banner-style a {
  display: block;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: top;
}
.banner-style img {
  width: 100%;
}
.banner-style a::before {
  background: rgba(21, 26, 36, 0.8) none repeat scroll 0 0;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.4s ease-out 0s;
  z-index: 10;
}
.banner-style:hover a:before {opacity:1;}
.banner-style a .text {
  bottom: 11%;
  left: 0;
  padding: 0 35px;
  position: absolute;
  right: 0;
  text-align: left;
  z-index: 11;
}
.banner-style a .text .text1 {
  color: #fff;
  display: block;
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.banner-style a .text .text1 span {
  display: block;
  opacity: 0;
  transform: translate3d(360px, 0px, 0px);
  transition-delay: 0.15s;
  transition-duration: 0.35s, 0.35s;
  transition-property: opacity, transform;
  transition-timing-function: ease, ease;
}
.banner-style a:hover .text .text1 span {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  transition-delay: 0s;
}
.banner-style a .text .text2 {
  border-bottom: 1px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  line-height: normal;
  margin-top: 50px;
  opacity: 0;
  text-transform: uppercase;
  transition: all 0.4s ease-out 0s;
  vertical-align: top;
}
.banner-style a .text .text2:hover{color:#01bab2;border-bottom: 1px solid #01bab2;}
.banner-style a:hover .text .text2 {
  opacity: 1;
}
.banner-style a:hover .text .text1 span:nth-of-type(2) {
  transition-delay: 0.1s;
}
.banner-style a:hover .text .text1 span:nth-of-type(3) {
  transition-delay: 0.05s;
}
.banner-sm a .text .text1 {font-size:24px}