/*-----------------------------------------------------------------------------------

    Project: Mania - Fashion eCommerce HTML Template
    Description: This is html5 template
    Author: HasTech
    Version: 1.0
	
----------------------------------------------------------------------------------- */

/* Footer Css */
.footer-widget{}
.footer-widget h3{color: #fff;
cursor: pointer;
font-size: 16px;
font-weight: 700;
margin: 0 0 35px;
text-transform: uppercase;}
.footer-contact{}
.footer-contact ul{}
.footer-contact ul li {
  color: #ddd;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 10px;
  padding: 0 0 0 25px;
  position: relative;
}
.footer-contact ul li em{
font: 14px/1 FontAwesome;
left: 0;
padding-left: 2px;
position: absolute;
top: 4px;}
.footer-contact span {
  display: block;
}
.block-content{}
.block-content li{line-height: 30px;
transition: all 300ms ease-in 0s;}
.block-content li a {
  color: #ddd;
  font-size: 13px;
  position: relative;
  text-transform: capitalize;
}
.block-content li a:hover{color:#01bab2}
.footer-time p {
  color: #ddd;
  font-size: 13px;
  line-height: 30px;
  margin: 0;
  text-transform: capitalize;
}
.footer-time .time {
  float: right;
}
.copyright{}
.copyright p{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
color: #fff;
font-family: Lato,sans-serif;
font-size: 13px;
font-weight: 400;
line-height: 16px;
margin: 5px 0 0;
text-align: left;
text-transform: capitalize;}
.copyright p a {
  color: #01bab2;
}
.copyright p a:hover {
  text-decoration:underline
}
.footer-bootom-area {
  border-top: 1px solid #363636;
}
.payment {
  float: right;
}