/*-----------------------------------------------------------------------------------

    Project: Mania - Fashion eCommerce HTML Template
    Description: This is html5 template
    Author: HasTech
    Version: 1.0
	
----------------------------------------------------------------------------------- */

/* Slider Css */
.nivo-directionNav a {
  border: 2px solid #bebebe;
  color: #bebebe;
  cursor: pointer;
  display: block;
  font-size: 24px;
  height: 50px;
  line-height: 48px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: -30px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transition: all 300ms ease-in 0s;
  width: 50px;
  z-index: 99;
}
.slider-container:hover .nivo-directionNav a{opacity:1}
.nivo-directionNav a:hover {
  border-color: #01bab2;
  color: #01bab2;
}
.slide1-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
}
.cap-dec{}
.cap-1{}
.cap-1 h2 {
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase;
}
.cap-2{}
.cap-2 h2 {
  color: #01bab2;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
}
.cap-text {
  color: #2c2c2c;
  line-height: 17px;
  margin: 35px 0;
  padding: 0;
}
.cap-readmore {
  line-height: 47px;
}
.cap-readmore a {
  background: #2c2c2c none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  padding: 12px 30px;
  text-transform: uppercase;
}
.cap-readmore a:hover{background:#01bab2;color:#fff}
.nivo-controlNav {
  display: none;
}
.slider-style-2 {
  right: 0;
  width: 46%;
}