/*-----------------------------------------------------------------------------------

    Project: Mania - Fashion eCommerce HTML Template
    Description: This is html5 template
    Author: HasTech
    Version: 1.0
	
----------------------------------------------------------------------------------- */

/* Testimonial Css */
.testimonial-test h4::before {
  content: "\e68e";
  display: block;
  font-family: Pe-icon-7-stroke;
  font-size: 36px;
  margin-bottom: 15px;
}
.test-img {
  border-radius: 100%;
  margin: auto auto 30px;
  overflow: hidden;
  width: 100px;
}
.testimonial-test {
  font-size: 14px;
  margin: 0 auto;
  max-width: 900px;
}
.testimonial-test p {
  color: #d7d7d7;
  display: inline-block;
  font-family: Lato,sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
  max-width: 790px;
  vertical-align: top;
}
.testimonial-test h4{
  color: #d7d7d7;
  font-weight: 700;
  text-transform: uppercase;
  color: #d7d7d7;
  font-size: 14px;
  margin-top: 15px;
}